extends _layout

block title
  title Categories 1-4

block content
  //тут есть 2 типа, с картинкой на бэкграунде + белый текст и монотонный бэкграунд без картинки + черный текст. .content-image для 1го варианта
  section.content-head.content-image(style= 'background-image:url(img/content-head.jpg) ')
    .bread-container
      a(href="#").bread-item Главная
      a(href="#").bread-item Каталог
      a(href="#").bread-item Очень длинный заголовок про металлочерепицу
      a(href="#").bread-item Каталог
    h1.u-intro.h1 Металлочерепица
  section.filter-section.b-bottom
    .filter-container
      .mobile-dropdowm-trigger
        span.u-bold Фильтровать товары
        i.arrow-icon
      form.filter-form
        .filter-form-inner
          .filter-form-title
            span.u-bold
              |Фильтры:
          .select-check.js-select-trigger
            button.selects(data-placeholder = 'Толщина металла, мм',data-valuename = "Толщина", data-value = "мм")
              span.btn-text Толщина металла, мм
              i.select-img
            button.select-clear.js-select-clear
              span.i-close
            .dropdown-target
              .dropdown-inner
                .dropdown-content
                  ul.selected-list
                  .u-graytext Выберите параметры
                  ul.select-u-body
                    mixin selectItem(val)
                      li.select-u-item
                        label.input_label
                          span.input_main
                            input.input-real(type="checkbox",value = val, data-value= val)
                            span.input-checked
                          span.input-text #{val}
                    +selectItem('550')
                    +selectItem('500')
                    +selectItem('400')
                    +selectItem('100')
                    +selectItem('200')
                  .dropdown-footer
                    button.t-blue.btn.js-filter-submit Применить
                    button.small-link.close.js-select-clear
                      span Сбросить
          .select-check.js-select-trigger
            button.selects(data-placeholder = 'Шаг волны профиля, мм',data-valuename = "Шаг", data-value = "мм")
              span.btn-text Шаг волны профиля, мм
              i.select-img
            button.select-clear.js-select-clear
              span.i-close
            .dropdown-target
              .dropdown-inner
                .dropdown-content
                  ul.selected-list
                  .u-graytext Выберите параметры
                  ul.select-u-body
                    mixin selectItem(val)
                      li.select-u-item
                        label.input_label
                          span.input_main
                            input.input-real(type="checkbox",value = val, data-value= val)
                            span.input-checked
                          span.input-text #{val}
                    +selectItem('550')
                    +selectItem('500')
                    +selectItem('400')
                    +selectItem('100')
                    +selectItem('200')
                    +selectItem('250')
                    +selectItem('900')
                  .dropdown-footer
                    button.t-blue.btn.js-filter-submit Применить
                    button.small-link.close.js-select-clear
                      span Сбросить
          .select-check.js-select-trigger
            button.selects(data-placeholder = 'Высота профиля, мм',data-valuename = "Высота", data-value = "мм")
              span.btn-text Высота профиля, мм
              i.select-img
            button.select-clear.js-select-clear
              span.i-close
            .dropdown-target
              .dropdown-inner
                .dropdown-content
                  ul.selected-list
                  .u-graytext Выберите параметры
                  ul.select-u-body
                    mixin selectItem(val)
                      li.select-u-item
                        label.input_label
                          span.input_main
                            input.input-real(type="checkbox",value = val, data-value= val)
                            span.input-checked
                          span.input-text #{val}
                    +selectItem('550')
                    +selectItem('500')
                    +selectItem('400')
                    +selectItem('100')
                    +selectItem('200')
                  .dropdown-footer
                    button.t-blue.btn.js-filter-submit Применить
                    button.small-link.close.js-select-clear
                      span Сбросить
          .select-check.js-select-trigger
            button.selects(data-placeholder = 'Цена, б.р.',data-valuename = "Цена", data-value = "б.р.")
              span.btn-text Высота профиля, мм
              i.select-img
            button.select-clear.js-select-clear
              span.i-close
            .dropdown-target
              .dropdown-inner
                .dropdown-content
                  .price-wrapper
                    span.price-label от
                    input.price.price-min(type="number",placeholder = '1.40')
                    span.price-label до
                    input.price.price-max(type="number",placeholder = '400')
                  .dropdown-footer
                    button.t-blue.btn.js-filter-submit Применить
                    button.small-link.close.js-select-clear
                      span Сбросить
          .filter-checkbox
            .select-u-item
              label.input_label
                span.input_main
                  input.input-real(type="checkbox",value = 'Полимерное покрытие')
                  span.input-checked
                span.input-text Полимерное покрытие
          .filter-checkbox
            .select-u-item
              label.input_label
                span.input_main
                  input.input-real(type="checkbox",value = 'Только акционные товары ')
                  span.input-checked
                span.input-text Только акционные товары
  //.products-outer c catalog 1-1
  .products-outer
    .products-sort-outer
      .products-sort-wrapper
        .u-bold Сортировать по:
        .products-sort-inner
          a(href="#").sort-item.link-dotted Сначала популярные
          a(href="#").sort-item.link-dotted  Новинки
          a(href="#").sort-item.active.link-dotted   Дешёвые
          a(href="#").sort-item.link-dotted   Дорогие
          a(href="#").sort-item.link-dotted   От А до Я
          a(href="#").sort-item.link-dotted   От Я до А
      .products-mobile-wrapper
        .sort_wrapper
          .sort-select.js-select-item
            .sort-select-title
              span Сначала популярные
              i.bread-arrow
            .dropdown-target
              .dropdown-inner
                .dropdown-content
                  .sort-select-item
                    a(href="#",data-text="От А до Я") От А до Я
                  .sort-select-item
                    a(href="#",data-text="От Я до А") От Я до А
                  .sort-select-item
                    a(href="#",data-text="Популярные") Популярные
                  .sort-select-item.active
                    a(href="#",data-text="Дешевые") Дешевые
                  .sort-select-item
                    a(href="#",data-text="Дорогие") Дорогие
                  .sort-select-item
                    a(href="#",data-text="Новинки") Новинки
                  .sort-select-item
                    a(href="#",data-text="Хиты продаж") Хиты продаж
      .products-wiew
        // .active для текущего вида
        a(href="#").products-wiew-item
          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 15 15', width="15px", height="15px", style='enable-background:new 0 0 15 15;', xml:space='preserve')
            style(type='text/css').
              .stwiew{fill-rule:evenodd;clip-rule:evenodd;fill:#353535;}
            g
              g
                path.stwiew(d='M0,4h4V0H0V4z M5.5,4h4V0h-4V4z M11,0v4h4V0H11z M0,9.5h4v-4H0V9.5z M5.5,9.5h4v-4h-4V9.5z M11,9.5h4v-4h-4\
                V9.5z M0,15h4v-4H0V15z M5.5,15h4v-4h-4V15z M11,15h4v-4h-4V15z')
        a(href="#").products-wiew-item.active
          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 15 15',width="15px", height="15px", style='enable-background:new 0 0 15 15;', xml:space='preserve')
            style(type='text/css').
              .stwiew{fill-rule:evenodd;clip-rule:evenodd;fill:#353535;}
            g
              g
                path.stwiew(d='M0,4h4V0H0V4z M5.5,0v4H15V0H5.5z M0,9.5h4v-4H0V9.5z M5.5,9.5H15v-4H5.5V9.5z M0,15h4v-4H0V15z M5.5,15H15\
                v-4H5.5V15z')
    .products-row
      //.product-table-wrapper это варппер каждого элемента, а не всех
      .products-inner.products-table
          mixin Productlist(name, img, prop1, prop2, prop3, prop4, price, type)
            .product-table-wrapper
                a(href="#").product-table-main
                  .product-table-img
                    img(src=img, alt="")
                    .flags-wrap
                      - var val = type
                      if val == '1'
                        .flag-item.discount 
                          span -15%
                      else if val == '2'
                        .flag-item.hit 
                          span Hit
                        .flag-item.discount 
                          span -25%
                      else if val == '3'
                        .flag-item.new
                          span New
                      else if val == '4'
                        .flag-item.hit 
                          span Hit
                        .flag-item.discount 
                          span -55%
                        .flag-item.new
                          span New
                      else if val == '0'
                  .product-table-content
                    .categories-elem-name #{name}
                    .u-text 
                      span.prop
                        span Ширина листа полезная: 
                        span.price #{prop1} ,
                      span.prop
                        span Высота:
                        span.price #{prop2} ,
                      span.prop
                        span шаг волны:
                        span.price #{prop3} 
                      span.prop
                        span область применения: :
                        span.price #{prop4} 
                      span.prop
                        span область применения: :
                        span.price #{prop4} 
                      span.prop
                        span область применения: :
                        span.price #{prop4} 
                    .u-graytext
                      .p Срок исполнения заказа до 
                        span 7 
                        |дней
                      .p Доставка по всей Беларуси
                .product-table-add
                  .product-card-price 
                    |#{price}
                    span.u-graytext.old 1000р.
                  .product-card-more
                    a(href="#").btn.t-blue Подробнее

                
          +Productlist('Металлочерепица МОНТЕРРЕЙ','img/cards/1.png','39 мм','329 мм','139 мм','350 мм','25 007.50р. / м2','1')
          +Productlist('Металлочерепица МОНТЕРРЕЙ','img/cards/1.png','39 мм','329 мм','139 мм','350 мм','107.50р. / м2','2')
          +Productlist('Металлочерепица МОНТЕРРЕЙ','img/cards/1.png','39 мм','329 мм','139 мм','350 мм','107.50р. / м2','3')
          +Productlist('Металлочерепица МОНТЕРРЕЙ','img/cards/1.png','39 мм','329 мм','139 мм','350 мм','107.50р. / м2','4')
          +Productlist('Металлочерепица МОНТЕРРЕЙ','img/cards/1.png','39 мм','329 мм','139 мм','350 мм','107.50р. / м2','1')
          +Productlist('Металлочерепица МОНТЕРРЕЙ','img/cards/1.png','39 мм','329 мм','139 мм','350 мм','107.50р. / м2','2')
          +Productlist('Металлочерепица МОНТЕРРЕЙ','img/cards/1.png','39 мм','329 мм','139 мм','350 мм','107.50р. / м2','0')
          +Productlist('Металлочерепица МОНТЕРРЕЙ','img/cards/1.png','39 мм','329 мм','139 мм','350 мм','107.50р. / м2','1')
          +Productlist('Металлочерепица МОНТЕРРЕЙ','img/cards/1.png','39 мм','329 мм','139 мм','350 мм','107.50р. / м2','2')
          +Productlist('Металлочерепица МОНТЕРРЕЙ','img/cards/1.png','39 мм','329 мм','139 мм','3522220 мм','107.50р. / м2','3')
    
  .pagination-wrapper
    .pagination-inner
      .cards-slider-nav
        a(href="#").carousel-prev.slick-arrow.arr-l
          .icon
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 45.9 14', style='enable-background:new 0 0 45.9 14;', xml:space='preserve')
              style(type='text/css').
                .slider-arr{fill:#353535;}
              g
                g
                  polygon.slider-arr(points='0.2,7 7.2,14 8.3,12.9 2.9,7.5 45.9,7.5 45.9,6 3,6 8,1 7,0 0,6.8')
        .pagin-counter
          a(href="#").pagin-counter-item 1
          a(href="#").pagin-counter-item 2
          a(href="#").pagin-counter-item.active 3
          a(href="#").pagin-counter-item 4
          a(href="#").pagin-counter-item 5
          span.dots ...
          a(href="#").pagin-counter-item 27
          a(href="#").pagin-counter-item 28
        a(href="#").carousel-next.slick-arrow.arr-r
          .icon
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 45.9 14', style='enable-background:new 0 0 45.9 14;', xml:space='preserve')
              style(type='text/css').
                .slider-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#353535;}
              g
                g
                  polygon.slider-arr(points='45.9,6.8 38.9,0 37.9,1 42.9,6 0,6 0,7.5 43,7.5 37.6,12.9 38.7,14 45.7,7')
    
  









  