extends _layout

block title
  title Оформление заказа

block content
  //тут есть 2 типа, с картинкой на бэкграунде + белый текст и монотонный бэкграунд без картинки + черный текст. .content-image для 1го варианта
  section.content-head.content-image(style= 'background-image:url(img/content-head.jpg)')
    .bread-container
      a(href="#").bread-item Главная
      a(href="#").bread-item Корзина
      a(href="#").bread-item Оформление заказа
    h1.u-intro.h1 Оформление заказа
  .column-wrap
    .column-content
      form(action='').js-validate
        .bx-soa
          .card.card-blue.notify-card
            .u-text Совершали ранее покупки в нашем интернет-магазине? Войдите в личный кабинет, чтобы процедура оформления прошла быстрее.
            .button-wrapp
              button.btn.t-blue.btn-extrasmall Войти
          // ORDER TYPE BLOCK
          .bx-soa-section
            .bx-soa-section-title-container
              h3.u-intro.h3
                | Покупатель
              a.small-link.change(href='') 
                span Изменить
            .bx-soa-section-content
              .headcont-body
                .headcont-wrapp
                  .headcont-title
                    .u-title Тип покупателя
                  .headcont-item.select-radio
                    .select-u-item
                      label.input_label
                        span.input_main
                          input.input-real(type="radio",name='offertype',value = 'fiz')
                          span.input-checked
                        span.input-text Физическое лицо
                    .select-u-item
                      label.input_label
                        span.input_main
                          input.input-real(type="radio",name='offertype',value = 'jur')
                          span.input-checked
                        span.input-text Юридическое лицо
                .headcont-wrapp
                  .headcont-title
                    .u-title Контактная информация
                  .headcont-item
                    .col-50
                      .input-wrapper
                        label.u-graytext 
                          span.text Компания
                        input.input-main(type='text',name="", placeholder = 'Название компании',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Поле обязательно для заполнения")
                      .input-wrapper
                        label.u-graytext 
                          span.text УНП
                        input.input-main(type='number',name="", placeholder = '1475854',data-validation="number required",data-validation-error-msg="Поле обязательно для заполнения") 
                      .input-wrapper
                        label.u-graytext 
                          span.text Телефон
                        input.input-main.input-from(type='tel',name="", placeholder = '+375 29 000-00-00',data-validation="custom required",data-validation-regexp="^[-0-9()+ ]+$",data-validation-error-msg="Поле обязательно для заполнения")
                      .input-wrapper
                        label.u-graytext 
                          span.text E-mail
                        input.input-main(type='text',name="", placeholder = 'Иванов Степан Иванович',data-validation="email required",data-validation-error-msg="Поле обязательно для заполнения")
                    .col-50                                      
                      .input-wrapper
                        label.u-graytext 
                          span.text Контактное лицо
                        input.input-main(type='text',name="", placeholder = 'Иванов Иван Иванович',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Поле обязательно для заполнения")
                      .input-wrapper
                        label.u-graytext 
                          span Коментарий к заказу
                        textarea.input-main(rows='8',type='text',name="", placeholder = 'Иванов Иван Иванович')
                // для физ лица
                .headcont-wrapp(style='display:none;')
                  .headcont-title
                    .u-title Контактная информация
                  .headcont-item
                    //тут черз кол-50 потому что поле сообщения по-другому не встанет как на макете, костылить его тоже не буду
                    .col-50
                      .input-wrapper
                        label.u-graytext 
                          span.text Ваше имя
                        input.input-main(type='text',name="", placeholder = 'Иванов Иван иванович',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Поле обязательно для заполнения")
                      .input-wrapper
                        label.u-graytext 
                          span.text Телефон
                        input.input-main.input-from(type='tel',name="", placeholder = '+375 29 000-00-00',data-validation="custom required",data-validation-regexp="^[-0-9()+ ]+$",data-validation-error-msg="Поле обязательно для заполнения")
                      .input-wrapper
                        label.u-graytext 
                          span.text E-mail
                        input.input-main(type='text',name="", placeholder = 'Иванов Степан Иванович',data-validation="email required",data-validation-error-msg="Поле обязательно для заполнения")
                    .col-50                                      
                      .input-wrapper
                        label.u-graytext 
                          span Коментарий к заказу
                        textarea.input-main(rows='8',type='text',name="", placeholder = 'Иванов Иван Иванович')

                .headcont-wrapp
                  .headcont-title
                    .u-title Адрес доставки
                  .headcont-item
                    mixin sopt(group,val1,val2,val3,val4,val5)
                      .select-u-body.select-list
                        label.option
                          input(type="radio",name=group,value =val1,data-validation="required") 
                          span #{val1}
                        label.option
                          input(type="radio",name=group,value =val2) 
                          span #{val2}
                        label.option
                          input(type="radio",name=group,value =val3) 
                          span #{val3}
                        label.option
                          input(type="radio",name=group,value =val4) 
                          span #{val4}
                        label.option
                          input(type="radio",name=group,value =val5) 
                          span #{val5}
                    .input-wrapper
                      label.u-graytext 
                        span.text Область
                      .select-check.js-select-custom
                        button.selects(data-placeholder = 'Выберите область',data-valuename = "")
                          span.btn-text Выберите область
                          i.select-img
                        .dropdown-target
                          .dropdown-inner
                            .dropdown-content
                            +sopt('group2','Минск, минская область','Брест, Брестская область','Могилев, Могилевская область','Гродно, Гродненская область','Гомель, Гомельская область')
                    .input-wrapper
                      label.u-graytext 
                        span.text Населённый пункт
                      input.input-main(type='text',name="", placeholder = 'Например "Витебск"',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Поле обязательно для заполнения")
                    .input-wrapper
                      label.u-graytext 
                        span.text Улица
                      input.input-main(type='text',name="", placeholder = 'Улица',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Поле обязательно для заполнения")
 
                    .input-wrapper.columns
                      label.u-graytext
                        span.text Дом
                      input.input-main.input-from(type='text',name="", placeholder = 'Дом',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Поле обязательно для заполнения")
                    .input-wrapper.columns
                      label.u-graytext
                        span Корпус
                      input.input-main.input-from(type='text',name="", placeholder = 'Корпус',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Поле обязательно для заполнения")
                    .input-wrapper.columns
                      label.u-graytext
                        span Квартира
                      input.input-main.input-from(type='text',name="", placeholder = 'Квартира',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Поле обязательно для заполнения")
              .bx-soa-more
                a(href="#").btn.t-blue.btn-small Далее              
          // basket BLOCK
          .bx-soa-section
            .bx-soa-section-title-container
              h3.u-intro.h3
                | Товары в заказе
              a.small-link.change(href='') 
                span Изменить
            .bx-soa-section-content
              .table-wrapper
                .table.table-inner
                  .table-head
                    .table-item.table-img
                    .table-item.table-name Наименование
                    .table-item.table-price Цена
                    .table-item.table-count Количество
                    .table-item.table-total Сумма
                    mixin cartTable(img,name, price, total,val)
                      .table-row
                        .table-item.table-img
                          img(src=img, alt="")
                        .table-item.table-name
                          .categories-elem-name #{name}
                          .u-graytext
                            span.prop
                              span Высота:
                              span.price 3.15
                        .table-item.table-price
                          .u-text
                            | #{price}
                        .table-item.table-count
                          .u-text #{val}
                        .table-item.table-total
                          .u-text.bold
                            |#{total}
                  +cartTable('img/cards/1.png','Металлочерепица МОНТЕРРЕЙ','1027.50р.','212 500.00р.','200м2')
                  +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1.60р.','24.00р.','200м2')
                  +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
                  +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
                  +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
                  +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
                  +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
                  +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              .bx-soa-more
                a(href="#").btn.t-blue.btn-small Далее
                a.small-link.change(href='') 
                  span Редактировать
          //DELIVRY BLOCK
          .bx-soa-section
            .bx-soa-section-title-container
              h3.u-intro.h3
                | Доставка
              a.small-link.change(href='') 
                span Изменить
            .bx-soa-section-content
              .block-inputs
                .bx-soa-pp-item-container
                  .bx-soa-pp-company
                    //.bx-selected для активного инпута
                    .bx-soa-pp-company-graf-container
                      input.bx-soa-pp-company-checkbox(name='DELIVERY_ID', type='checkbox', value='14')
                      .bx-soa-pp-company-image(style='background-image: url(img/cards/3.png);')
                    .u-graytext Курьер
                  .bx-soa-pp-company
                    .bx-soa-pp-company-graf-container
                      input.bx-soa-pp-company-checkbox(name='DELIVERY_ID', type='checkbox', value='18')
                      .bx-soa-pp-company-image(style='background-image: url(img/cards/1.png);')
                    .u-graytext Самовывоз
                .bx-soa-pp-desc-container
                  .card.card-blue
                    .u-black Курьер
                    .u-text При заказе от 300р. доставка по г. Минск и в другие регионы Респуб- лики Беларусь осущетсвляется бесплатно. 
              .bx-soa-more
                a(href="#").btn.t-blue.btn-small Далее
                a(href="#").link-nav.left Назад
          //PAYMENT BLOCK
          .bx-soa-section
            .bx-soa-section-title-container
              h3.u-intro.h3
                | Способ оплаты
              a.small-link.change(href='') 
                span Изменить
            .bx-soa-section-content
              .block-inputs
                .bx-soa-pp-item-container
                  .bx-soa-pp-company
                    .bx-soa-pp-company-graf-container
                      input.bx-soa-pp-company-checkbox(name='DELIVERY_ID', type='checkbox', value='14')
                      .bx-soa-pp-company-image(style='background-image: url(img/payment/visa.svg);')
                    .u-graytext Visa
                  .bx-soa-pp-company
                    .bx-soa-pp-company-graf-container
                      input.bx-soa-pp-company-checkbox(name='DELIVERY_ID', type='checkbox', value='18')
                      .bx-soa-pp-company-image(style='background-image: url(img/payment/master.png);')
                    .u-graytext Master Card
                  .bx-soa-pp-company
                    .bx-soa-pp-company-graf-container
                      input.bx-soa-pp-company-checkbox(name='DELIVERY_ID', type='checkbox', value='18')
                      .bx-soa-pp-company-image(style='background-image: url(img/payment/maestro.png);')
                    .u-graytext Maestro
                  .bx-soa-pp-company
                    .bx-soa-pp-company-graf-container
                      input.bx-soa-pp-company-checkbox(name='DELIVERY_ID', type='checkbox', value='18')
                      .bx-soa-pp-company-image(style='background-image: url(img/payment/maestro.png);')
                    .u-graytext Яндекс.Деньги
                  .bx-soa-pp-company
                    .bx-soa-pp-company-graf-container
                      input.bx-soa-pp-company-checkbox(name='DELIVERY_ID', type='checkbox', value='18')
                      .bx-soa-pp-company-image(style='background-image: url(img/payment/maestro.png);')
                    .u-graytext WebMoney
                  .bx-soa-pp-company
                    .bx-soa-pp-company-graf-container
                      input.bx-soa-pp-company-checkbox(name='DELIVERY_ID', type='checkbox', value='18')
                      .bx-soa-pp-company-image(style='background-image: url(img/payment/maestro.png);')
                    .u-graytext МТС              
                  .bx-soa-pp-company
                    .bx-soa-pp-company-graf-container
                      input.bx-soa-pp-company-checkbox(name='DELIVERY_ID', type='checkbox', value='18')
                      .bx-soa-pp-company-image(style='background-image: url(img/payment/maestro.png);')
                    .u-graytext QIWI Кошелёк
                  .bx-soa-pp-company
                    .bx-soa-pp-company-graf-container
                      input.bx-soa-pp-company-checkbox(name='DELIVERY_ID', type='checkbox', value='18')
                      .bx-soa-pp-company-image(style='background-image: url(img/payment/maestro.png);')
                    .u-graytext American Express
                  .bx-soa-pp-company
                    .bx-soa-pp-company-graf-container
                      input.bx-soa-pp-company-checkbox(name='DELIVERY_ID', type='checkbox', value='18')
                      .bx-soa-pp-company-image(style='background-image: url(img/payment/maestro.png);')
                    .u-graytext JCB International                                  
                .bx-soa-pp-desc-container
                  .card.card-blue
                    .u-black Наличные
                    .discount-block
                      span.value 30%
                      | предоплата
                    .u-text Для начала выполнения заказа вам необходимо приехать в наш офис и внести предоплату (минимальный размер составляет 30% от суммы вашего заказа). 
              .bx-soa-more
                a(href="#").btn.t-blue.btn-small Далее
                a(href="#").link-nav.left Назад
        button(type='submit').btn.t-blue.btn-standart Оформить заказ

    .column-aside
      .card.card-yell
        .price-wrap
          .price-row
            .u-graytext.jel Товаров на сумму
            .u-text 211 536.00р.
          .price-row
            .u-graytext.jel Доставка
            .u-text 20р.
          .divider
          .price-row
            .u-graytext.jel Итого
            .product-card-price 115450 p.
          .price-row
            .u-graytext.jel Размер
              br
              |предоплаты
            .u-text.bold.bigger 3 563.00р.







  