extends _layout

block title
  title История заказов

block content
  //тут есть 2 типа, с картинкой на бэкграунде + белый текст и монотонный бэкграунд без картинки + черный текст. .content-image для 1го варианта
  section.content-head.content-image(style= 'background-image:url(img/content-head.jpg)')
    .bread-container
      a(href="#").bread-item Главная
      a(href="#").bread-item Кабинет
      a(href="#").bread-item История заказов
    h1.u-intro.h1 История заказов
  section.filter-section.b-bottom
    .filter-container.acc-filter
      .mobile-dropdowm-trigger
        span.u-bold Открыть меню
        i.arrow-icon
      .filter-form
        .filter-form-inner 
          mixin accmenu(val)
            - var current = "История заказов"
            .acc-menu-item(class={active: val === current})
              a(href="#") #{val}
          +accmenu('История заказов')
          +accmenu('Мои данные')
          +accmenu('Изменить пароль')
          +accmenu('Персональная скидка')
          +accmenu('Подписка')
          a(href="#").small-link.exit 
            span Выйти
  section.offerlist-section
    // для наличного расчета в шапке таба кнопке .t-blue поменять на t-trans и внутри в желтой карточке кнопку "оплатить" поменять на ссылку " скачать карту проезда"
    .table
      .table-inline.table-head
        .table-item.table-number № заказа
        .table-item.table-date Дата
        .table-item.table-count Количество
        .table-item.table-total Сумма
        .table-item.table-pay Оплата
        .table-item.table-status Статус
        .table-item.table-arr
        .table-item.table-btn
      .table-inline.table-row.js-accordion-trigger
        .table-item.table-number 
          .u-text.bold 242
        .table-item.table-date Дата
          .u-text 02.08.2016
        .table-item.table-count
          .u-text 10 шт.
        .table-item.table-total
          .u-text.bold 520.00р.
        .table-item.table-pay 
          .u-text Наличные
        //  .dropdown-trigger для выпадашки и вопросика
        .table-item.table-status.dropdown-trigger
          .u-text В обработке,
            span(style='color: red') Внесите предоплату
          .dropdown-target
            .dropdown-inner
              .dropdown-content
                .u-text
                  |Заказ находится в «Обработке», чтобы он ушёл в работу, вам необходимо внести предоплату.
        .table-item.table-arr  
          i.select-img
        .table-item.table-btn
          a(href="#").btn.t-blue.btn-small Опатить
        .offerlist-content.js-accordion-body
          .table-wrapper
            .table.table-inner
              .table-head
                .table-item.table-img
                .table-item.table-name Наименование
                .table-item.table-price Цена
                .table-item.table-count Количество
                .table-item.table-status Статус
                .table-item.table-total Сумма
                mixin cartTable(img,name, price, total,val,status)
                  .table-row
                    .table-item.table-img
                      img(src=img, alt="")
                    .table-item.table-name
                      .categories-elem-name #{name}
                      .u-graytext
                        span.prop
                          span Высота:
                          span.price 3.15
                    .table-item.table-price
                      .u-text
                        | #{price}
                    .table-item.table-count
                      .u-text #{val}
                    .table-item.table-status
                      .u-text #{status}
                    .table-item.table-total
                      .u-text.bold
                        |#{total}
              +cartTable('img/cards/1.png','Металлочерепица МОНТЕРРЕЙ','107.50р.','21 500.00р.','200м2','В обработке')
              +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1.60р.','24.00р.','200м2','В обработке')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2','В обработке')
            .table-footer
              .buttons-wrap
                button.small-link.close
                  span Отменить заказ
                a(href="#").btn.t-trans.btn-small Повторить заказ
              .price-wrap
                .price-row
                  .u-graytext Товаров на сумму
                  .u-text 21 536.00р.
                .price-row
                  .u-graytext Доставка
                  .u-text 0р.
                .price-row
                  .u-graytext Итого
                  .u-text.bold.bigger 21 563.00р.р.
          .cards-wrapper
            .card.card-yell.text-center
              .u-graytext.jel Размер предоплаты
              .product-card-price 115450 p.
              a(href="#").btn.t-blue.btn-standart Оплатить
            .card.card-blue
              .card-option
                .u-graytext Способ оплаты 
                .u-text
                  .card-img
                    img(src="img/payment/visa.svg", alt="")
                  | Visa
              .card-option
                .u-graytext Доставка
                .u-text Курьер
              .card-option
                .u-graytext Адрес доставки
                .u-text Брестская область, г. Барановичи, ул. Пролетарская, д. 200
      .table-inline.table-row.js-accordion-trigger
        .table-item.table-number 
          .u-text.bold 2242
        .table-item.table-date Дата
          .u-text 02.08.2016
        .table-item.table-count
          .u-text 10 шт.
        .table-item.table-total
          .u-text.bold 520.00р.
        .table-item.table-pay 
          .u-text Наличные

        .table-item.table-status.dropdown-trigger
          .u-text В обработке,
            span(style='color: #eca700') Предоплата внесена
          .dropdown-target
            .dropdown-inner
              .dropdown-content
                .u-text
                  |Ваш заказ частично оплачен. В ближайшее время он будет принят в работу.
        .table-item.table-arr  
          i.select-img
        .table-item.table-btn
          a(href="#").btn.t-blue.btn-small Опатить
        .offerlist-content.js-accordion-body
          .table-wrapper
            .table.table-inner
              .table-head
                .table-item.table-img
                .table-item.table-name Наименование
                .table-item.table-price Цена
                .table-item.table-count Количество
                .table-item.table-status Статус
                .table-item.table-total Сумма
                mixin cartTable(img,name, price, total,val)
                  .table-row
                    .table-item.table-img
                      img(src=img, alt="")
                    .table-item.table-name
                      .categories-elem-name #{name}
                      .u-graytext
                        span.prop
                          span Высота:
                          span.price 3.15
                    .table-item.table-price
                      .u-text
                        | #{price}
                    .table-item.table-count
                      .u-text #{val}
                    .table-item.table-total
                      .u-text.bold
                        |#{total}
              +cartTable('img/cards/1.png','Металлочерепица МОНТЕРРЕЙ','107.50р.','21 500.00р.','200м2','В обработке')
              +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1.60р.','24.00р.','200м2','В обработке')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2','В обработке')
            .table-footer
              .buttons-wrap
                button.small-link.close
                  span Отменить заказ
                a(href="#").btn.t-trans.btn-small Повторить заказ
              .price-wrap
                .price-row
                  .u-graytext Товаров на сумму
                  .u-text 21 536.00р.
                .price-row
                  .u-graytext Доставка
                  .u-text 0р.
                .price-row
                  .u-graytext Итого
                  .u-text.bold.bigger 21 563.00р.р.
          .cards-wrapper
            .card.card-yell.text-center
              .u-graytext.jel Размер предоплаты
              .product-card-price 115450 p.
              a(href="#").btn.t-blue.btn-standart Оплатить
            .card.card-blue
              .card-option
                .u-graytext Способ оплаты 
                .u-text
                  .card-img
                    img(src="img/payment/visa.svg", alt="")
                  | Visa
              .card-option
                .u-graytext Доставка
                .u-text Курьер
              .card-option
                .u-graytext Адрес доставки
                .u-text Брестская область, г. Барановичи, ул. Пролетарская, д. 200
      .table-inline.table-row.js-accordion-trigger
        .table-item.table-number 
          .u-text.bold 2429
        .table-item.table-date Дата
          .u-text 02.08.2016
        .table-item.table-count
          .u-text 10 шт.
        .table-item.table-total
          .u-text.bold 520.00р.
        .table-item.table-pay 
          .u-text Наличные
        .table-item.table-status.dropdown-trigger
          .u-text В обработке,
            span(style='color: #0ab768') Оплачен полностью
          .dropdown-target
            .dropdown-inner
              .dropdown-content
                .u-text
                  |Ваш заказ оплачен полностью. В ближайшее время он будет принят в работу.
        .table-item.table-arr  
          i.select-img
        .table-item.table-btn
          a(href="#").btn.t-blue.btn-small Опатить
        .offerlist-content.js-accordion-body
          .table-wrapper
            .table.table-inner
              .table-head
                .table-item.table-img
                .table-item.table-name Наименование
                .table-item.table-price Цена
                .table-item.table-count Количество
                .table-item.table-status Статус
                .table-item.table-total Сумма
                mixin cartTable(img,name, price, total,val)
                  .table-row
                    .table-item.table-img
                      img(src=img, alt="")
                    .table-item.table-name
                      .categories-elem-name #{name}
                      .u-graytext
                        span.prop
                          span Высота:
                          span.price 3.15
                    .table-item.table-price
                      .u-text
                        | #{price}
                    .table-item.table-count
                      .u-text #{val}
                    .table-item.table-total
                      .u-text.bold
                        |#{total}
              +cartTable('img/cards/1.png','Металлочерепица МОНТЕРРЕЙ','1027.50р.','212 500.00р.','200м2','В обработке')
              +cartTable('img/cards/1.png','Металлочерепица МОНТЕРРЕЙ','1027.50р.','212 500.00р.','200м2','В обработке')
              +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1.60р.','24.00р.','200м2','В обработке')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2','В обработке')
            .table-footer
              .buttons-wrap
                button.small-link.close
                  span Отменить заказ
                a(href="#").btn.t-trans.btn-small Повторить заказ
              .price-wrap
                .price-row
                  .u-graytext Товаров на сумму
                  .u-text 211 536.00р.
                .price-row
                  .u-graytext Доставка
                  .u-text 20р.
                .price-row
                  .u-graytext Итого
                  .u-text.bold.bigger 213 563.00р.р.
          .cards-wrapper
            .card.card-yell.text-center
              .u-graytext.jel Размер предоплаты
              .product-card-price 115450 p.
              a(href="#").btn.t-blue.btn-standart Оплатить
            .card.card-blue
              .card-option
                .u-graytext Способ оплаты 
                .u-text
                  .card-img
                    img(src="img/payment/visa.svg", alt="")
                  | Visa
              .card-option
                .u-graytext Доставка
                .u-text Курьер
              .card-option
                .u-graytext Адрес доставки
                .u-text Брестская область, г. Барановичи, ул. Пролетарская, д. 200
      .table-inline.table-row.js-accordion-trigger
        .table-item.table-number 
          .u-text.bold 2420
        .table-item.table-date Дата
          .u-text 02.08.2016
        .table-item.table-count
          .u-text 10 шт.
        .table-item.table-total
          .u-text.bold 520.00р.
        .table-item.table-pay 
          .u-text Наличные
        .table-item.table-status.dropdown-trigger
          .u-text Выполняется,
            span(style='color: #eca700') Предоплата внесена
          .dropdown-target
            .dropdown-inner
              .dropdown-content
                .u-text
                  |Ваш заказ принят в работу. Оплата произведена частично.
        .table-item.table-arr  
          i.select-img
        .table-item.table-btn
          a(href="#").btn.t-blue.btn-small Опатить
        .offerlist-content.js-accordion-body
          .table-wrapper
            .table.table-inner
              .table-head
                .table-item.table-img
                .table-item.table-name Наименование
                .table-item.table-price Цена
                .table-item.table-count Количество
                .table-item.table-status Статус
                .table-item.table-total Сумма
                mixin cartTable(img,name, price, total,val)
                  .table-row
                    .table-item.table-img
                      img(src=img, alt="")
                    .table-item.table-name
                      .categories-elem-name #{name}
                      .u-graytext
                        span.prop
                          span Высота:
                          span.price 3.15
                    .table-item.table-price
                      .u-text
                        | #{price}
                    .table-item.table-count
                      .u-text #{val}
                    .table-item.table-total
                      .u-text.bold
                        |#{total}
              +cartTable('img/cards/1.png','Металлочерепица МОНТЕРРЕЙ','1027.50р.','212 500.00р.','200м2')
              +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1333.60р.','24.00р.','200м2')
              +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1.60р.','24.00р.','200м2')
              +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1.60р.','24.00р.','200м2')
              +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1.60р.','24.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
            .table-footer
              .buttons-wrap
                button.small-link.close
                  span Отменить заказ
                a(href="#").btn.t-trans.btn-small Повторить заказ
              .price-wrap
                .price-row
                  .u-graytext Товаров на сумму
                  .u-text 211 536.00р.
                .price-row
                  .u-graytext Доставка
                  .u-text 20р.
                .price-row
                  .u-graytext Итого
                  .u-text.bold.bigger 213 563.00р.р.
          .cards-wrapper
            .card.card-yell.text-center
              .u-graytext.jel Размер предоплаты
              .product-card-price 115450 p.
              a(href="#").btn.t-blue.btn-standart Оплатить
            .card.card-blue
              .card-option
                .u-graytext Способ оплаты 
                .u-text
                  .card-img
                    img(src="img/payment/visa.svg", alt="")
                  | Visa
              .card-option
                .u-graytext Доставка
                .u-text Курьер
              .card-option
                .u-graytext Адрес доставки
                .u-text Брестская область, г. Барановичи, ул. Пролетарская, д. 200
      .table-inline.table-row.js-accordion-trigger
        .table-item.table-number 
          .u-text.bold 242
        .table-item.table-date Дата
          .u-text 02.08.2016
        .table-item.table-count
          .u-text 10 шт.
        .table-item.table-total
          .u-text.bold 520.00р.
        .table-item.table-pay 
          .u-text Наличные
        .table-item.table-status
          .u-text 
            span(style='color: #0e2a91') Закрыт
        .table-item.table-arr  
          i.select-img
        .table-item.table-btn
          a(href="#").btn.t-blue.btn-small Опатить
        .offerlist-content.js-accordion-body
          .table-wrapper
            .table.table-inner
              .table-head
                .table-item.table-img
                .table-item.table-name Наименование
                .table-item.table-price Цена
                .table-item.table-count Количество
                .table-item.table-total Сумма
                mixin cartTable(img,name, price, total,val)
                  .table-row
                    .table-item.table-img
                      img(src=img, alt="")
                    .table-item.table-name
                      .categories-elem-name #{name}
                      .u-graytext
                        span.prop
                          span Высота:
                          span.price 3.15
                    .table-item.table-price
                      .u-text
                        | #{price}
                    .table-item.table-count
                      .u-text #{val}
                    .table-item.table-total
                      .u-text.bold
                        |#{total}
              +cartTable('img/cards/1.png','Металлочерепица МОНТЕРРЕЙ','1027.50р.','212 500.00р.','200м2')
              +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1.60р.','24.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
            .table-footer
              .buttons-wrap
                button.small-link.close
                  span Отменить заказ
                a(href="#").btn.t-trans.btn-small Повторить заказ
              .price-wrap
                .price-row
                  .u-graytext Товаров на сумму
                  .u-text 211 536.00р.
                .price-row
                  .u-graytext Доставка
                  .u-text 20р.
                .price-row
                  .u-graytext Итого
                  .u-text.bold.bigger 213 563.00р.р.
          .cards-wrapper
            .card.card-yell.text-center
              .u-graytext.jel Размер предоплаты
              .product-card-price 115450 p.
              a(href="#").btn.t-blue.btn-standart Оплатить
            .card.card-blue
              .card-option
                .u-graytext Способ оплаты 
                .u-text
                  .card-img
                    img(src="img/payment/visa.svg", alt="")
                  | Visa
              .card-option
                .u-graytext Доставка
                .u-text Курьер
              .card-option
                .u-graytext Адрес доставки
                .u-text Брестская область, г. Барановичи, ул. Пролетарская, д. 200
      .table-inline.table-row.js-accordion-trigger
        .table-item.table-number 
          .u-text.bold 242
        .table-item.table-date Дата
          .u-text 02.08.2016
        .table-item.table-count
          .u-text 10 шт.
        .table-item.table-total
          .u-text.bold 520.00р.
        .table-item.table-pay 
          .u-text Наличные
        .table-item.table-status.dropdown-trigger
          .u-text Выполняется,
            span(style='color: #0ab768') Оплачен полностью
          .dropdown-target
            .dropdown-inner
              .dropdown-content
                .u-text
                  |Ваш заказ принят в работу. Оплата произведена полностью.
        .table-item.table-arr  
          i.select-img
        .table-item.table-btn
          a(href="#").btn.t-blue.btn-small Опатить
        .offerlist-content.js-accordion-body
          .table-wrapper
            .table.table-inner
              .table-head
                .table-item.table-img
                .table-item.table-name Наименование
                .table-item.table-price Цена
                .table-item.table-count Количество
                .table-item.table-total Сумма
                mixin cartTable(img,name, price, total,val)
                  .table-row
                    .table-item.table-img
                      img(src=img, alt="")
                    .table-item.table-name
                      .categories-elem-name #{name}
                      .u-graytext
                        span.prop
                          span Высота:
                          span.price 3.15
                    .table-item.table-price
                      .u-text
                        | #{price}
                    .table-item.table-count
                      .u-text #{val}
                    .table-item.table-total
                      .u-text.bold
                        |#{total}
              +cartTable('img/cards/1.png','Металлочерепица МОНТЕРРЕЙ','1027.50р.','212 500.00р.','200м2')
              +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1333.60р.','24.00р.','200м2')
              +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1.60р.','24.00р.','200м2')
              +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1.60р.','24.00р.','200м2')
              +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1.60р.','24.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
            .table-footer
              .buttons-wrap
                button.small-link.close
                  span Отменить заказ
                a(href="#").btn.t-trans.btn-small Повторить заказ
              .price-wrap
                .price-row
                  .u-graytext Товаров на сумму
                  .u-text 211 536.00р.
                .price-row
                  .u-graytext Доставка
                  .u-text 20р.
                .price-row
                  .u-graytext Итого
                  .u-text.bold.bigger 213 563.00р.р.
          .cards-wrapper
            .card.card-yell.text-center
              .u-graytext.jel Размер предоплаты
              .product-card-price 115450 p.
              a(href="#").btn.t-blue.btn-standart Оплатить
            .card.card-blue
              .card-option
                .u-graytext Способ оплаты 
                .u-text
                  .card-img
                    img(src="img/payment/visa.svg", alt="")
                  | Visa
              .card-option
                .u-graytext Доставка
                .u-text Курьер
              .card-option
                .u-graytext Адрес доставки
                .u-text Брестская область, г. Барановичи, ул. Пролетарская, д. 200
      .table-inline.table-row.js-accordion-trigger
        .table-item.table-number 
          .u-text.bold 242
        .table-item.table-date Дата
          .u-text 02.08.2016
        .table-item.table-count
          .u-text 10 шт.
        .table-item.table-total
          .u-text.bold 520.00р.
        .table-item.table-pay 
          .u-text Наличные
        .table-item.table-status.dropdown-trigger
          .u-text Заказ выполнен
            span(style='color: #eca700') Предоплата внесена
          .dropdown-target
            .dropdown-inner
              .dropdown-content
                .u-text
                  |Ваш заказ готов. Для получения заказа вам необходимо внести оставшуюся часть оплаты.
                a(href="#").small-link.blue.marker 
                  span Скачать схему проезда
        .table-item.table-arr  
          i.select-img
        .table-item.table-btn
          a(href="#").btn.t-blue.btn-small Опатить
        .offerlist-content.js-accordion-body
          .table-wrapper
            .table.table-inner
              .table-head
                .table-item.table-img
                .table-item.table-name Наименование
                .table-item.table-price Цена
                .table-item.table-count Количество
                .table-item.table-total Сумма
                mixin cartTable(img,name, price, total,val)
                  .table-row
                    .table-item.table-img
                      img(src=img, alt="")
                    .table-item.table-name
                      .categories-elem-name #{name}
                      .u-graytext
                        span.prop
                          span Высота:
                          span.price 3.15
                    .table-item.table-price
                      .u-text
                        | #{price}
                    .table-item.table-count
                      .u-text #{val}
                    .table-item.table-total
                      .u-text.bold
                        |#{total}
              +cartTable('img/cards/1.png','Металлочерепица МОНТЕРРЕЙ','1027.50р.','212 500.00р.','200м2')
              +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1.60р.','24.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
            .table-footer
              .buttons-wrap
                button.small-link.close
                  span Отменить заказ
                a(href="#").btn.t-trans.btn-small Повторить заказ
              .price-wrap
                .price-row
                  .u-graytext Товаров на сумму
                  .u-text 211 536.00р.
                .price-row
                  .u-graytext Доставка
                  .u-text 20р.
                .price-row
                  .u-graytext Итого
                  .u-text.bold.bigger 213 563.00р.р.
          .cards-wrapper
            .card.card-yell.text-center
              .u-graytext.jel Размер предоплаты
              .product-card-price 115450 p.
              a(href="#").btn.t-blue.btn-standart Оплатить
            .card.card-blue
              .card-option
                .u-graytext Способ оплаты 
                .u-text
                  .card-img
                    img(src="img/payment/visa.svg", alt="")
                  | Visa
              .card-option
                .u-graytext Доставка
                .u-text Курьер
              .card-option
                .u-graytext Адрес доставки
                .u-text Брестская область, г. Барановичи, ул. Пролетарская, д. 200
      .table-inline.table-row.js-accordion-trigger
        .table-item.table-number 
          .u-text.bold 242
        .table-item.table-date Дата
          .u-text 02.08.2016
        .table-item.table-count
          .u-text 10 шт.
        .table-item.table-total
          .u-text.bold 520.00р.
        .table-item.table-pay 
          .u-text Наличные
        .table-item.table-status.dropdown-trigger
          .u-text Заказ выполнен
            span(style='color: #0ab768') Оплачен полностью
          .dropdown-target
            .dropdown-inner
              .dropdown-content
                .u-text
                  |Ваш заказ готов. Для получения заказа вам необходимо внести оставшуюся часть оплаты.
                a(href="#").small-link.blue.marker 
                  span Скачать схему проезда
        .table-item.table-arr  
          i.select-img
        .table-item.table-btn
          a(href="#").btn.t-trans.btn-small Повторить заказ
        .offerlist-content.js-accordion-body
          .table-wrapper
            .table.table-inner
              .table-head
                .table-item.table-img
                .table-item.table-name Наименование
                .table-item.table-price Цена
                .table-item.table-count Количество
                .table-item.table-total Сумма
                mixin cartTable(img,name, price, total,val)
                  .table-row
                    .table-item.table-img
                      img(src=img, alt="")
                    .table-item.table-name
                      .categories-elem-name #{name}
                      .u-graytext
                        span.prop
                          span Высота:
                          span.price 3.15
                    .table-item.table-price
                      .u-text
                        | #{price}
                    .table-item.table-count
                      .u-text #{val}
                    .table-item.table-total
                      .u-text.bold
                        |#{total}
              +cartTable('img/cards/1.png','Металлочерепица МОНТЕРРЕЙ','1027.50р.','212 500.00р.','200м2')
              +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1.60р.','24.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
            .table-footer
              .buttons-wrap
                button.small-link.close
                  span Отменить заказ
                a(href="#").btn.t-trans.btn-small Повторить заказ
              .price-wrap
                .price-row
                  .u-graytext Товаров на сумму
                  .u-text 211 536.00р.
                .price-row
                  .u-graytext Доставка
                  .u-text 20р.
                .price-row
                  .u-graytext Итого
                  .u-text.bold.bigger 213 563.00р.
          .cards-wrapper
            .card.card-yell.text-center
              .u-graytext.jel Размер предоплаты
              .product-card-price 115450 p.
              a(href="#").small-link.blue.marker 
                  span Скачать схему проезда
            .card.card-blue
              .card-option
                .u-graytext Способ оплаты 
                .u-text
                  .card-img
                    img(src="img/payment/visa.svg", alt="")
                  | Visa
              .card-option
                .u-graytext Доставка
                .u-text Курьер
              .card-option
                .u-graytext Адрес доставки
                .u-text Брестская область, г. Барановичи, ул. Пролетарская, д. 200
      .table-inline.table-row.js-accordion-trigger.active
        .table-item.table-number 
          .u-text.bold 242
        .table-item.table-date Дата
          .u-text 02.08.2016
        .table-item.table-count
          .u-text 10 шт.
        .table-item.table-total
          .u-text.bold 520.00р.
        .table-item.table-pay 
          .u-text Наличные
        .table-item.table-status
          .u-text 
            span(style='color: #a3a3a3') Отменен
        .table-item.table-arr  
          i.select-img
        .table-item.table-btn
          a(href="#").btn.t-blue.btn-small Опатить
        .offerlist-content.js-accordion-body
          .table-wrapper
            .table.table-inner
              .table-head
                .table-item.table-img
                .table-item.table-name Наименование
                .table-item.table-price Цена
                .table-item.table-count Количество
                .table-item.table-total Сумма
                mixin cartTable(img,name, price, total,val)
                  .table-row
                    .table-item.table-img
                      img(src=img, alt="")
                    .table-item.table-name
                      .categories-elem-name #{name}
                      .u-graytext
                        span.prop
                          span Высота:
                          span.price 3.15
                    .table-item.table-price
                      .u-text
                        | #{price}
                    .table-item.table-count
                      .u-text #{val}
                    .table-item.table-total
                      .u-text.bold
                        |#{total}
              +cartTable('img/cards/1.png','Металлочерепица МОНТЕРРЕЙ','1027.50р.','212 500.00р.','200м2')
              +cartTable('img/cards/2.png','Уплотнитель прямоугольный самоклеющийся','1.60р.','24.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
              +cartTable('img/cards/3.png','Планка конька плоского','1.60р.','125624.00р.','200м2')
            .table-footer
              .buttons-wrap
                button.small-link.close
                  span Отменить заказ
                a(href="#").btn.t-trans.btn-small Повторить заказ
              .price-wrap
                .price-row
                  .u-graytext Товаров на сумму
                  .u-text 211 536.00р.
                .price-row
                  .u-graytext Доставка
                  .u-text 20р.
                .price-row
                  .u-graytext Итого
                  .u-text.bold.bigger 213 563.00р.р.
          .cards-wrapper
            .card.card-yell.text-center
              .u-graytext.jel Размер предоплаты
              .product-card-price 115450 p.
              a(href="#").btn.t-blue.btn-standart Оплатить
            .card.card-blue
              .card-option
                .u-graytext Способ оплаты 
                .u-text
                  .card-img
                    img(src="img/payment/visa.svg", alt="")
                  | Visa
              .card-option
                .u-graytext Доставка
                .u-text Курьер
              .card-option
                .u-graytext Адрес доставки
                .u-text Брестская область, г. Барановичи, ул. Пролетарская, д. 200