extends _layout

block title
  title Мои данные

block content
  //тут есть 2 типа, с картинкой на бэкграунде + белый текст и монотонный бэкграунд без картинки + черный текст. .content-image для 1го варианта
  section.content-head.content-image(style= 'background-image:url(img/content-head.jpg)')
    .bread-container
      a(href="#").bread-item Главная
      a(href="#").bread-item Кабинет
      a(href="#").bread-item Мои данные
    h1.u-intro.h1 Мои данные
  section.filter-section.b-bottom
    .filter-container.acc-filter
      .mobile-dropdowm-trigger
        span.u-bold Открыть меню
        i.arrow-icon
      .filter-form
        .filter-form-inner 
          mixin accmenu(val)
            - var current = "Мои данные"
            .acc-menu-item(class={active: val === current})
              a(href="#") #{val}
          +accmenu('История заказов')
          +accmenu('Мои данные')
          +accmenu('Изменить пароль')
          +accmenu('Персональная скидка')
          +accmenu('Подписка')
          a(href="#").small-link.exit 
            span Выйти
  .column-wrap
    .column-content
      form(action="")
        .form-msg-wrapp
          h2.u-intro.h2.result.succes Изменения успешно внесены
        .headcont
          .headcont-head
            h3.u-intro.h3 Мои Персональные данные
          .headcont-body
            .headcont-wrapp
              .headcont-title
                .u-title Контактная информация
              .headcont-item
                .input-wrapper
                  label.u-graytext 
                    span.text Ваше имя
                  input.input-main(type='text',name="", placeholder = 'Иванов Иван')
                .input-wrapper
                  label.u-graytext 
                    span.text Телефон
                  input.input-main.input-from(type='tel',name="", placeholder = '+375 29 000-00-00')
                .input-wrapper
                  label.u-graytext 
                    span.text E-mail
                  input.input-main(type='text',name="", placeholder = 'Иванов Степан Иванович')
            .headcont-wrapp
              .headcont-title
                .u-title Адрес
              .headcont-item
                mixin sopt(group,val1,val2,val3,val4,val5)
                  .select-u-body.select-list
                    label.option
                      input(type="radio",name=group,value =val1) 
                      span #{val1}
                    label.option
                      input(type="radio",name=group,value =val2) 
                      span #{val2}
                    label.option
                      input(type="radio",name=group,value =val3) 
                      span #{val3}
                    label.option
                      input(type="radio",name=group,value =val4) 
                      span #{val4}
                    label.option
                      input(type="radio",name=group,value =val5) 
                      span #{val5}
                .input-wrapper
                  label.u-graytext 
                    span.text Область
                  .select-check.js-select-custom
                    button.selects(data-placeholder = 'Выберите область',data-valuename = "")
                      span.btn-text Выберите область
                      i.select-img
                    .dropdown-target
                      .dropdown-inner
                        .dropdown-content
                        +sopt('group2','Минск, минская область','Брест, Брестская область','Могилев, Могилевская область','Гродно, Гродненская область','Гомель, Гомельская область')
                .input-wrapper
                  label.u-graytext 
                    span.text Населённый пункт
                  input.input-main(type='text',name="", placeholder = 'Например "Витебск"')
                .input-wrapper
                  label.u-graytext 
                    span.text Улица
                  input.input-main(type='text',name="", placeholder = 'Улица')
                .home-wrap  
                  .input-wrapper
                    label.input-label
                      span.u-graytext Дом
                    input.input-main.input-from(type='text',name="", placeholder = 'Дом')
                  .input-wrapper
                    label.input-label
                      span.u-graytext Корпус
                    input.input-main.input-from(type='text',name="", placeholder = 'Корпус')
                  .input-wrapper
                    label.input-label
                      span.u-graytext Квартира
                    input.input-main.input-from(type='text',name="", placeholder = 'Квартира')
        button(type='submit').btn.t-blue.btn-standart Сохранить
    .column-aside
