extends _layout

block title
  title Index

block content
  .fixed-container.index-slider
    mixin Indexslides(img, h1,h2)
      .index-slider-elem(style='background-image:url('+ img+ ')')
        .index-slider-text
          h1.u-intro.extrabig #{h1}
          h2.u-intro.h2 #{h2}
    +Indexslides('img/arsenal.jpg','Арсенал металл','Производим и продаём металлоизделия И сопутствующие материалы') 
    +Indexslides('img/arsenal.jpg','Арсенал металлq','Производим и продаём металлоизделия И сопутствующие материалы')
    +Indexslides('img/arsenal.jpg','Арсенал металлw','Производим и продаём металлоизделия И сопутствующие материалы Оргомный выбор')
  script.
    function insexslider(){
      $('.index-slider').slick({
        accessibility: true,
        arrows: false,
        dots: true,
        draggable: false,
        touchMove: false,
        vertical: true,
        infinite: true
      }); 
    } insexslider();  
  section.section-feature
    .features__nav
    .features
      mixin Futureslides(img, text)
        .features_block
          .features--img
            img(src=img, alt="")
          p.u-text #{text}
      +Futureslides('img/features/icon_1.svg','Лучшие оптовые и розничные цены от производителя, скидки.') 
      +Futureslides('img/features/icon_2.svg','Оперативная доставка по всей территории Республики Беларусь') 
      +Futureslides('img/features/icon_3.svg','Покупайте и оплачивайте продукцию онлайн.')  
  script.
    function feachures(){
    $('.features').slick({
      accessibility: true,
      arrows: true,
      draggable: false,
      touchMove: false,
      slidesToShow: 3,
      appendArrows: $('.features__nav'),
      nextArrow:'<button type="button" class="carousel-next"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve"><style type="text/css">.st-slider{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}</style><path class="st-slider" d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5"/></svg></div></button>',
      prevArrow:'<button type="button" class="carousel-prev"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve"><style type="text/css">.st-slider{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}</style><path class="st-slider" d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5"/></svg></div></button>',
      responsive: [
        {
          breakpoint: 1112,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 544,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        ]
    });
    } feachures();
  section.categories
    h1.u-intro.h1 Популярные разделы
    .categories-wrapper
      mixin categor(name, price,img, val)
        .categories-elem-outer
          a(href="#").categories-elem
            .categories-elem-descr
              .categories-elem-name #{name}
              .u-text
                span От
                span.price #{price}
            .categories-elem-img
              img(src=img, alt = '')
            .flags-wrap
              .flag-item.discount 
                span #{val}
      +categor('Фальцевая кровля','70.90р.','img/categories/1.png','-5%')
      +categor('Металлическая черепица','92.00р.','img/categories/2.png','-5%')
      +categor('Гипсокартонные профили','70.90р.','img/categories/3.png','-15%')
      +categor('Гипсокартонные профили','70.90р.','img/categories/4.png','-20%')
      +categor('Фальцевая кровля','70.90р.','img/categories/1.png','-5%')
      +categor('Гипсокартонные профили','70.90р.','img/categories/4.png','-10%')
      +categor('Металлическая черепица','92.00р.','img/categories/2.png','-99%')
      +categor('Металлическая черепица','92.00р.','img/categories/2.png','-99%')
  section.brands
    .brands-outer
      .features__nav.feachres-brand
      .brands-inner.brands-slider
        mixin brandelem(img)
          a(href="#").brands-elem
            img(src=img, alt="")
        +brandelem('img/brands/1.png')
        +brandelem('img/brands/2.png')
        +brandelem('img/brands/3.png')
        +brandelem('img/brands/4.png')
        +brandelem('img/brands/5.png')
        +brandelem('img/brands/6.png')
        +brandelem('img/brands/7.png')
  script.
    function brands(){
    $('.brands-slider').slick({
      accessibility: true,
      arrows: true,
      draggable: false,
      touchMove: false,
      infinite: false,
      slidesToShow: 7,
      appendArrows: $('.feachres-brand'),
      nextArrow:'<button type="button" class="carousel-next"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve"><style type="text/css">.st-slider{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}</style><path class="st-slider" d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5"/></svg></div></button>',
      prevArrow:'<button type="button" class="carousel-prev"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve"><style type="text/css">.st-slider{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}</style><path class="st-slider" d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5"/></svg></div></button>',
      responsive: [
        {
          breakpoint: 1450,
          settings: {
            slidesToShow: 6,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 1280,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 544,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 380,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }
        ]
    });
    } brands();
  section.slider-section.b-bottom
    h1.u-intro.h1 Хиты продаж
    .tabs
      .tabs-head
        .tabs-item
          span Популярное
        .tabs-item
          span Новинки
        .tabs-item
          span Акции
      .tabs-body
        .tabs-cont
          .cards-slider-nav
          .slider-section-inner
              mixin Productcart(name, img, prop1, prop2, price, type)
                .product-card-wrapper
                  .product-card-outer
                    a(href="#").product-card-inner
                      .product-card-img
                        img(src=img, alt="")
                      .categories-elem-name #{name}
                      .u-text 
                        span.prop
                          span Высота:
                          span.price #{prop1} ,
                        span.prop
                          span шаг волны:
                          span.price #{prop1} 
                      .product-card-price 
                        |#{price}
                        span.u-graytext.old 1000р.
                    .product-card-more
                      a(href="#").btn.t-blue Подробнее
                    .flags-wrap
                      - var val = type
                      if val == '1'
                        .flag-item.discount 
                          span -15%
                      else if val == '2'
                        .flag-item.hit 
                          span Hit
                        .flag-item.discount 
                          span -25%
                      else if val == '3'
                        .flag-item.new
                          span New
                      else if val == '4'
                        .flag-item.hit 
                          span Hit
                        .flag-item.discount 
                          span -55%
                        .flag-item.new
                          span New
                      else if val == '0'
              +Productcart('Металлочерепица МОНТЕРРЕЙ','img/cards/1.png','39 мм','350 мм','107.50р. / м2','1')
              +Productcart('Профилированный лист С8','img/cards/2.png','8 мм','1 150 мм мм','80.00р. / м2','4')
              +Productcart('Планка торцовая','img/cards/3.png','1250 мм','95/120 мм','134.04р. / м2','3')
              +Productcart('Металлочерепица Альтер матовая','img/cards/4.png','39 мм','350 мм','41.50р. / м2','2')
              +Productcart('Саморез сверлоконеч- ный РОКС FBD','img/cards/5.png','4,8х60 мм','1 000 шт.','1.40р. / шт','0')
  script.
    function cards(){
      $('.slider-section-inner').slick({
        accessibility: true,
        arrows: true,
        draggable: false,
        touchMove: false,
        infinite: false,
        slidesToShow: 5,
        appendArrows: $('.cards-slider-nav'),
        nextArrow:'<button type="button" class="carousel-next"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve"><style type="text/css">.st-slider{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}</style><path class="st-slider" d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5"/></svg></div></button>',
        prevArrow:'<button type="button" class="carousel-prev"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve"><style type="text/css">.st-slider{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}</style><path class="st-slider" d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5"/></svg></div></button>',
        responsive: [
          {
            breakpoint: 1280,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 1
            }
          }
          ]
      });
    } cards();











  