extends _layout

block title
  title Index

block content
  .fixed-container.index-slider
    mixin Indexslides(img, h1,h2)
      .index-slider-elem(style='background-image:url('+ img+ ')')
        .index-slider-text
          h1.u-intro.extrabig #{h1}
          h2.u-intro.h2 #{h2}
    +Indexslides('img/arsenal.jpg','Арсенал металл','Производим и продаём металлоизделия И сопутствующие материалы') 
    +Indexslides('img/arsenal.jpg','Арсенал металлq','Производим и продаём металлоизделия И сопутствующие материалы')
    +Indexslides('img/arsenal.jpg','Арсенал металлw','Производим и продаём металлоизделия И сопутствующие материалы Оргомный выбор')
  script.
    function insexslider(){
      $('.index-slider').slick({
        accessibility: true,
        arrows: false,
        dots: true,
        draggable: false,
        touchMove: false,
        vertical: true,
        infinite: true
      }); 
    } insexslider();  
  section.section-feature
    .features__nav
    .features
      mixin Futureslides(img, text)
        .features_block
          .features--img
            img(src=img, alt="")
          p.u-text #{text}
      +Futureslides('img/features/icon_1.svg','Лучшие оптовые и розничные цены от производителя, скидки.') 
      +Futureslides('img/features/icon_2.svg','Оперативная доставка по всей территории Республики Беларусь') 
      +Futureslides('img/features/icon_3.svg','Покупайте и оплачивайте продукцию онлайн.')  
  script.
    function feachures(){
    $('.features').slick({
      accessibility: true,
      arrows: true,
      draggable: false,
      touchMove: false,
      slidesToShow: 3,
      appendArrows: $('.features__nav'),
      nextArrow:'<button type="button" class="carousel-next"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve"><style type="text/css">.st-slider{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}</style><path class="st-slider" d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5"/></svg></div></button>',
      prevArrow:'<button type="button" class="carousel-prev"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve"><style type="text/css">.st-slider{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}</style><path class="st-slider" d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5"/></svg></div></button>',
      responsive: [
        {
          breakpoint: 1112,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 544,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        ]
    });
    } feachures();
  section.categories
    h1.u-intro.h1 Популярные разделы
    .categories-wrapper
      mixin categor(name, price,img, val)
        .categories-elem-outer
          a(href="#").categories-elem
            .categories-elem-descr
              .categories-elem-name #{name}
              .u-text
                span От
                span.price #{price}
            .categories-elem-img
              img(src=img, alt = '')
            .flags-wrap
              .flag-item.discount 
                span #{val}
      +categor('Фальцевая кровля','70.90р.','img/categories/1.png','-5%')
      +categor('Металлическая черепица','92.00р.','img/categories/2.png','-5%')
      +categor('Гипсокартонные профили','70.90р.','img/categories/3.png','-15%')
      +categor('Гипсокартонные профили','70.90р.','img/categories/4.png','-20%')
      +categor('Фальцевая кровля','70.90р.','img/categories/1.png','-5%')
      +categor('Гипсокартонные профили','70.90р.','img/categories/4.png','-10%')
      +categor('Металлическая черепица','92.00р.','img/categories/2.png','-99%')
      +categor('Металлическая черепица','92.00р.','img/categories/2.png','-99%')
  section.brands
    .brands-outer
      .features__nav.feachres-brand
      .brands-inner.brands-slider
        mixin brandelem(img)
          a(href="#").brands-elem
            img(src=img, alt="")
        +brandelem('img/brands/1.png')
        +brandelem('img/brands/2.png')
        +brandelem('img/brands/3.png')
        +brandelem('img/brands/4.png')
        +brandelem('img/brands/5.png')
        +brandelem('img/brands/6.png')
        +brandelem('img/brands/7.png')
  script.
    function brands(){
    $('.brands-slider').slick({
      accessibility: true,
      arrows: true,
      draggable: false,
      touchMove: false,
      infinite: false,
      slidesToShow: 7,
      appendArrows: $('.feachres-brand'),
      nextArrow:'<button type="button" class="carousel-next"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve"><style type="text/css">.st-slider{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}</style><path class="st-slider" d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5"/></svg></div></button>',
      prevArrow:'<button type="button" class="carousel-prev"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 9 5" style="enable-background:new 0 0 9 5;" xml:space="preserve"><style type="text/css">.st-slider{fill-rule:evenodd;clip-rule:evenodd;fill:#9E9E9E;}</style><path class="st-slider" d="M4.5,5L9,0.6L8.4,0L4.5,3.7L0.6,0L0,0.6L4.5,5"/></svg></div></button>',
      responsive: [
        {
          breakpoint: 1450,
          settings: {
            slidesToShow: 6,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 1280,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 544,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 380,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }
        ]
    });
    } brands();
  section.slider-section.b-bottom
    h1.u-intro.h1 Хиты продаж
    .tabs.js-tabs-wrap
      //во всех табах кидаешь класс .active на триггер и нужная вкладка открывается , иначе будет открыта первая вкладка
      .tabs-head.w3.slider-tabs
        .tabs-item.js-tab-trigger.active
          span Популярное
        .tabs-item.js-tab-trigger
          span Новинки
        .tabs-item.js-tab-trigger
          span Акции
      .tabs-body
        .tabs-cont
          .slider-section-inner
              mixin Productcart(name, img, prop1, prop2, price, type)
                .product-card-wrapper
                  .product-card-outer
                    a(href="#").product-card-inner
                      .product-card-img
                        img(src=img, alt="")
                      .categories-elem-name #{name}
                      .u-text 
                        span.prop
                          span Высота:
                          span.price #{prop1} ,
                        span.prop
                          span шаг волны:
                          span.price #{prop1} 
                      .product-card-price 
                        |#{price}
                        span.u-graytext.old 1000р.
                    .product-card-more
                      a(href="#").btn.t-blue Подробнее
                    .flags-wrap
                      - var val = type
                      if val == '1'
                        .flag-item.discount 
                          span -15%
                      else if val == '2'
                        .flag-item.hit 
                          span Hit
                        .flag-item.discount 
                          span -25%
                      else if val == '3'
                        .flag-item.new
                          span New
                      else if val == '4'
                        .flag-item.hit 
                          span Hit
                        .flag-item.discount 
                          span -55%
                        .flag-item.new
                          span New
                      else if val == '0'
                
              +Productcart('Металлочерепица МОНТЕРРЕЙ','img/cards/1.png','39 мм','350 мм','107.50р. / м2','1')
              +Productcart('Профилированный лист С8','img/cards/2.png','8 мм','1 150 мм мм','80.00р. / м2','4')
              +Productcart('Планка торцовая','img/cards/3.png','1250 мм','95/120 мм','134.04р. / м2','3')
              +Productcart('Металлочерепица Альтер матовая','img/cards/4.png','39 мм','350 мм','41.50р. / м2','2')
              +Productcart('Металлочерепицаa  Альтер матовая','img/cards/4.png','39 мм','350 мм','41.50р. / м2','2')
              +Productcart('Саморез сверлоконеч- ный РОКС FBD','img/cards/5.png','4,8х60 мм','1 000 шт.','1.40р. / шт','0')
              +Productcart('Саморез сверлоконеч- ный РОКС FBD','img/cards/5.png','4,8х60 ','1 000 шт.','1.40р. / шт','0')
              +Productcart('Саморез сверлоконеч- ный РОКС FBD','img/cards/5.png','4,8х60 ','1 000 шт.','1.40р. / шт','0')
              +Productcart('Саморез сверлоконеч- ный РОКС FBD','img/cards/5.png','4,8х60 ','1 000 шт.','1.40р. / шт','0')
              +Productcart('Саморез сверлоконеч- ный РОКС FBD','img/cards/5.png','4,8х60 ','1 000 шт.','1.40р. / шт','0')
              +Productcart('Саморез сверлоконеч- ный РОКС FBD','img/cards/5.png','4,8х60 ','1 000 шт.','1.40р. / шт','0')
              +Productcart('Саморез сверлоконеч- ный РОКС FBD','img/cards/5.png','4,8х60 ','1 000 шт.','1.40р. / шт','0')
          .cards-slider-nav
            .cards-slider-counter
              span.cards-slider-current
              span.cards-slider-divider /
              span.cards-slider-total
        .tabs-cont
          .slider-section-inner
              mixin Productcart(name, img, prop1, prop2, price, type)
                .product-card-wrapper
                  .product-card-outer
                    a(href="#").product-card-inner
                      .product-card-img
                        img(src=img, alt="")
                      .categories-elem-name #{name}
                      .u-text 
                        span.prop
                          span Высота:
                          span.price #{prop1} ,
                        span.prop
                          span шаг волны:
                          span.price #{prop1} 
                      .product-card-price 
                        |#{price}
                        span.u-graytext.old 1000р.
                    .product-card-more
                      a(href="#").btn.t-blue Подробнее
                    .flags-wrap
                      - var val = type
                      if val == '1'
                        .flag-item.discount 
                          span -15%
                      else if val == '2'
                        .flag-item.hit 
                          span Hit
                        .flag-item.discount 
                          span -25%
                      else if val == '3'
                        .flag-item.new
                          span New
                      else if val == '4'
                        .flag-item.hit 
                          span Hit
                        .flag-item.discount 
                          span -55%
                        .flag-item.new
                          span New
                      else if val == '0'
              +Productcart('Металлочерепица3 МОНТЕРРЕЙ','img/cards/1.png','39 мм','350 мм','107.50р. / м2','1')
              +Productcart('Профилированный2 лист С8','img/cards/2.png','8 мм','1 150 мм мм','80.00р. / м2','4')
              +Productcart('Планка3 торцовая','img/cards/3.png','1250 мм','95/120 мм','134.04р. / м2','3')
              +Productcart('Металлочерепица2 Альтер матовая','img/cards/4.png','39 мм','350 мм','41.50р. / м2','2')
              +Productcart('Металлочерепицаa2 Альтер матовая','img/cards/4.png','39 мм','350 мм','41.50р. / м2','2')
              +Productcart('Саморез 3сверлоконеч- ный РОКС FBD','img/cards/5.png','4,8х60 мм','1 000 шт.','1.40р. / шт','0')
              +Productcart('Саморез сверлоконеч- ный РОКС FBD','img/cards/5.png','4,8х60 ','1 000 шт.','1.40р. / шт','0')
          .cards-slider-nav
            .cards-slider-counter
              span.cards-slider-current
              span.cards-slider-divider /
              span.cards-slider-total
        .tabs-cont
          .slider-section-inner
              mixin Productcart(name, img, prop1, prop2, price, type)
                .product-card-wrapper
                  .product-card-outer
                    a(href="#").product-card-inner
                      .product-card-img
                        img(src=img, alt="")
                      .categories-elem-name #{name}
                      .u-text 
                        span.prop
                          span Высота:
                          span.price #{prop1} ,
                        span.prop
                          span шаг волны:
                          span.price #{prop1} 
                      .product-card-price 
                        |#{price}
                        span.u-graytext.old 1000р.
                    .product-card-more
                      a(href="#").btn.t-blue Подробнее
                    .flags-wrap
                      - var val = type
                      if val == '1'
                        .flag-item.discount 
                          span -15%
                      else if val == '2'
                        .flag-item.hit 
                          span Hit
                        .flag-item.discount 
                          span -25%
                      else if val == '3'
                        .flag-item.new
                          span New
                      else if val == '4'
                        .flag-item.hit 
                          span Hit
                        .flag-item.discount 
                          span -55%
                        .flag-item.new
                          span New
                      else if val == '0'
              +Productcart('Металлочерепица2 МОНТЕРРЕЙ','img/cards/1.png','39 мм','350 мм','107.50р. / м2','1')
              +Productcart('Профилированный2 лист С8','img/cards/2.png','8 мм','1 150 мм мм','80.00р. / м2','4')
              +Productcart('Планка2 торцовая','img/cards/3.png','1250 мм','95/120 мм','134.04р. / м2','3')
              +Productcart('Металлочерепица2 Альтер матовая','img/cards/4.png','39 мм','350 мм','41.50р. / м2','2')
              +Productcart('Металлочерепицаa2 Альтер матовая','img/cards/4.png','39 мм','350 мм','41.50р. / м2','2')
              +Productcart('Саморез 2сверлоконеч- ный РОКС FBD','img/cards/5.png','4,8х60 мм','1 000 шт.','1.40р. / шт','0')
              +Productcart('Саморез сверлоконеч- ный РОКС FBD','img/cards/5.png','4,8х60 ','1 000 шт.','1.40р. / шт','0')
          .cards-slider-nav
            .cards-slider-counter
              span.cards-slider-current
              span.cards-slider-divider /
              span.cards-slider-total
  script.
    function cards(){
      $( ".slider-section-inner").each( function() {
        var _this = $(this);

        slidesCount(_this);

        _this.slick({
          accessibility: true,
          arrows: true,
          draggable: true,
          touchMove: false,
          infinite: false,
          slidesToShow: 5,
          slidesToScroll: 5,
          appendArrows: _this.siblings('.cards-slider-nav'),
          nextArrow:'<button type="button" class="carousel-next"><div class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 45.9 14" style="enable-background:new 0 0 45.9 14;" xml:space="preserve"><style type="text/css">.slider-arr{fill-rule:evenodd;clip-rule:evenodd;fill:#353535;}</style><g><g><polygon class="slider-arr" points="45.9,6.8 38.9,0 37.9,1 42.9,6 0,6 0,7.5 43,7.5 37.6,12.9 38.7,14 45.7,7 "/></g></g></svg></div></button>',
          prevArrow:'<button type="button" class="carousel-prev"><div class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 45.9 14" style="enable-background:new 0 0 45.9 14;" xml:space="preserve"><style type="text/css">.slider-arr{fill:#353535;}</style><g><g><polygon class="slider-arr" points="0.2,7 7.2,14 8.3,12.9 2.9,7.5 45.9,7.5 45.9,6 3,6 8,1 7,0 0,6.8     "/></g></g></svg></div></button>',
          responsive: [
            {
              breakpoint: 1280,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 4
              }
            },
            {
              breakpoint: 1100,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3
              }
            },
            {
              breakpoint: 991,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 4
              }
            },
            {
              breakpoint: 800,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            }
            ]
        }); 
      });

    } cards();
  section.news-section.b-bottom
    h1.u-intro.h1 Новости и акции
    .news-container
      mixin news(img,date,text,val)
        .news-block-outer(class={big: val === 1},class={half: val === 2},class={small: val === 3})
          a(href="" style='background-image:url('+ img+ ')').news-block-inner
            .news-block-content
              .news-block-content-inner
                .news-block-name
                  date.u-graytext #{date}
                  .u-intro.h2 #{text}
      +news('img/news.png','20 июля, 2016','Наша Компании приняла участие в XV междунаро- дной выставке металлоче- репицы',1)
      +news('img/news.png','20 июля, 2016','Конкурс для архитекторов и проектировщиков «Металл Project» 2016',2)
      +news('img/news.png','20 июля, 2016','Конкурс для архитекторов и проектировщиков «Металл Project» 2016',3)
      +news('img/news.png','20 июля, 2016','Конкурс для архитекторов dfsdfdsf dsfsdfsdf dsfdsfds и проектировщиков «Металл Project» 2016',3)
      +news('img/news.png','20 июля, 2016','Конкурс для архитекторов и проектировщиков «Металл Project» 2016',3)
  section.contact-section
    .tabs.js-tabs-wrap
      .tabs-head.w2.t-white
        .tabs-item.js-tab-trigger.active
          span Офис
        .tabs-item.js-tab-trigger
          span Карта
      .tabs-body
        .tabs-cont
          .contact-cont   
            .contact-cont(style='background-image:url(img/office.jpg)')
          .info-cont
            .info-title 
              span.u-intro.h2 торгово-Производственная компания арсенал металл
            .info-content
              p.u-text.lt Арсенал Металл — лидер в области строительства коммерческой, индустриальной и жилой недвижимости класса А в России.
              p.u-text.lt С момента основания каждый год оборот компании стабильно увеличивается в два раза, пропорционально растет численность сотрудников. Сегодня штат RD Construction насчитывает более 4 000 профессионалов. Компания осуществляет свою деятельность на территории России, стран СНГ и Европы.
            .info-footer
              a(href="#").link-nav.right Подробнее
              a(href="#").small-link.blue.marker 
                span Скачать схему проезда
        .tabs-cont
          .contact-cont 
            #map
          .info-cont
            .info-title 
              span.u-intro.h2 свяжитесь с нашими специалистами или приезжайте к нам в офис 
            .info-content
              .categories-elem-name г. Минск, пр. Независимости, 199
              p.u-text.lt Работаем с понедельника по пятницу 9:00−20:00
              .col-50
                .contact-block
                  span.u-graytext Пн–Пт, 9:00–20:00
                  a.u-text.lt(href="tel:375296669172") +375 29 666-91-72
                  a.u-text.lt(href="tel:375173804867") +375 17 380-48-67
              .col-50
                .contact-block
                  span.u-graytext
                  a.u-text.lt(href="tel:375175125004") +375 17 512-50-04
                  a.u-text.lt(href="tel:375171117524") +375 17 111-75-24
              .col-50
                .contact-block
                  span.u-graytext E-mail
                  a.mailto(href="mailto:arsenalmetall@mail.ru") arsenalmetall@mail.ru
              .col-50
                .contact-block
                  span.u-graytext Skype
                  a.mailto(href="skype:arsenalmetall?chat") arsenalmetall
            .info-footer
              a(href="#").link-nav.right Подробнее
              a(href="#").small-link.blue.marker 
                span Скачать схему проезда










  